.first_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 407px;
  padding: 50px;
}

.first_section_pre_title {
  font-size: 16px;
  font-weight: 600;
  color: var(--red-first-color);
  font-family: "Inter", sans-serif;
}

.first_section_title {
  font-size: 48px;
  font-weight: 600;
  color: var(--black-first-color);
  font-family: "Inter", sans-serif;
}

.first_section_sub_title {
  font-size: 20px;
  font-weight: 400;
  color: var(--gray-second-color);
  font-family: "Inter", sans-serif;
}

.container_metrics {
  display: flex;
  padding-bottom: 50px;
}

.container_metrics_column {
  display: grid;
  gap: 5px
}

.container_metrics_title {
  font-size: 60px;
  font-weight: 600;
  color: var(--red-first-color);
  font-family: "Inter", sans-serif;
}

.container_metrics_subtitle {
  font-size: 18px;
  font-weight: 500;
  color: var(--black-first-color);
  font-family: "Inter", sans-serif;
}

.container_metrics_text {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-second-color);
  font-family: "Inter", sans-serif;
}


.container_looking_for_talents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.container_looking_for_talents_texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  justify-content: space-around;
  margin-bottom: 50px;
}

.container_looking_for_talents_pre_title {
  font-size: 14px;
  font-weight: 500;
  color: var(--red-first-color);
  font-family: "Inter", sans-serif;
  background-color: rgba(142, 36, 36, 0.05);
  padding: 5px 10px;
  border-radius: 10px;
}

.container_looking_for_talents_title {
  font-size: 36px;
  font-weight: 600;
  color: var(--black-first-color);
  font-family: "Inter", sans-serif;
}

.container_looking_for_talents_sub_title {
  font-size: 20px;
  font-weight: 400;
  color: var(--gray-second-color);
  font-family: "Inter", sans-serif;
}

.container_looking_for_talents_image {
  width: 100%;
}

.jobs {
  display: grid;
  width: 80%;
  gap: 24px;
}

.jobs_card {
  display: grid;
  gap: 24px;
  padding: 10px;
  border: 1px solid var(--blue-first-color);
}

.jobs_group {
  padding: 50px 0 20px 0;
  font-size: 20px;
  font-weight: 500;
  color: var(--black-first-color);
  font-family: "Inter", sans-serif;
}

.jobs_group_title {
  font-size: 18px;
  font-weight: 500;
  color: var(--black-first-color);
  font-family: "Inter", sans-serif;
}

.jobs_group_infos {
  display: flex;
  margin: 0;
}

.jobs_group_infos_text {
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-second-color);
  font-family: "Inter", sans-serif;
}